# To Implement Iterative Dichotomiser 3 (ID 3) Algorithm

In [4]:
#importing the packages
from chefboost import Chefboost as chef
import numpy as np
import pandas as pd

In [9]:
#loading the dataset
df=pd.read_csv('datasets/playtennis.csv')

In [10]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [13]:
#creating the model
config={'algorithm':'ID3'}   #since the algorithm is ID3
model=chef.fit(df,config=config,target_label='Play Tennis')  #fitting the data into ID3 algorithm

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.5515375137329102  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [14]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [17]:
#prediction
#pred is the output variable
pred=chef.predict(model,param=['Sunny','Hot','High','Weak'])
pred

'No'

In [18]:
pr=chef.predict(model,param=['Overcast','Cool','High','Strong'])
pr

'Yes'

# Notes

#                            ID 3
### Invented by Ross Quinlan, ID3 uses a top-down greedy approach to build a decision tree.
### In simple words, the top-down approach means that we start building the tree from the top and the greedy approach means that at each iteration we select the best feature at the present moment to create a node.
### No Backtracking is involved

## Disadvantages:
### Solution is not Optimal
### It can overfit the Training data

In [19]:
#eg

In [29]:
import pandas as pd
from chefboost import Chefboost as chef

In [30]:
df=pd.read_csv('datasets/data.csv')
df

    Country   Age   Salary Purchased
0    France  44.0  72000.0        No
1     Spain  27.0  48000.0       Yes
2   Germany  30.0  54000.0        No
3     Spain  38.0  61000.0        No
4   Germany  40.0      NaN       Yes
5    France  35.0  58000.0       Yes
6     Spain   NaN  52000.0        No
7    France  48.0  74000.0       Yes
8   Germany  50.0  83000.0        No
9    France  37.0  67000.0       Yes
10    Spain  63.0  80000.0       Yes

In [31]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [32]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(missing_values=np.nan,strategy='mean')
df['Age']=si.fit_transform(pd.DataFrame(df['Age']))
df['Salary']=si.fit_transform(pd.DataFrame(df['Salary']))

In [33]:
#model building
config={'algorithm':'ID3'}
model=chef.fit(df,config=config,target_label='Purchased')

[INFO]:  2 CPU cores will be allocated in parallel running
ID3  tree is going to be built...
-------------------------
finished in  0.6415135860443115  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  72.72727272727273 % on  11  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[4, 2], [1, 4]]
Precision:  66.6667 %, Recall:  80.0 %, F1:  72.7273 %

In [38]:
#predictions
p1=chef.predict(model,param=['Spain',63.0,80000.0])
p1

'Yes'