# To implement C4.5 Algorithm in Python

In [1]:
#importing packages
from chefboost import Chefboost as chef
import numpy as np
import pandas as pd

In [2]:
#loading the dataset
df=pd.read_csv('datasets/playtennis.csv')

In [6]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [3]:
df.describe()

       Outlook Temperature Humidity  Wind Play Tennis
count       14          14       14    14          14
unique       3           3        2     2           2
top      Sunny        Mild     High  Weak         Yes
freq         5           6        7     8           9

In [7]:
#fitting the model
config={'algorithm':'C4.5'}
model=chef.fit(df,config=config,target_label='Play Tennis')

[INFO]:  2 CPU cores will be allocated in parallel running
C4.5  tree is going to be built...
-------------------------
finished in  0.5125668048858643  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [9]:
#making predictions
pred=chef.predict(model,param=['Sunny','Hot','High','Weak'])
pred

'No'