# To implement CART Algorithm in Python

In [15]:
import numpy as np
import pandas as pd
from chefboost import Chefboost as chef

In [16]:
df=pd.read_csv('datasets/mammals.csv')
df

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [17]:
df.isnull().sum()

species          0
body_wt          0
brain_wt         0
non_dreaming    14
dreaming        12
total_sleep      4
life_span        4
gestation        4
predation        0
exposure         0
danger           0
dtype: int64

In [18]:
#preprocessing
df.describe()

,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
count,62.000000,62.000000,48.000000,50.000000,58.000000,58.000000,58.000000,62.000000,62.000000,62.000000
mean,198.789984,283.134194,8.672917,1.972000,10.532759,19.877586,142.353448,2.870968,2.419355,2.612903
std,899.158011,930.278942,3.666452,1.442651,4.606760,18.206255,146.805039,1.476414,1.604792,1.441252
min,0.005000,0.140000,2.100000,0.000000,2.600000,2.000000,12.000000,1.000000,1.000000,1.000000
25%,0.600000,4.250000,6.250000,0.900000,8.050000,6.625000,35.750000,2.000000,1.000000,1.000000
50%,3.342500,17.250000,8.350000,1.800000,10.450000,15.100000,79.000000,3.000000,2.000000,2.000000
75%,48.202500,166.000000,11.000000,2.550000,13.200000,27.750000,207.500000,4.000000,4.000000,4.000000
max,6654.000000,5712.000000,17.900000,6.600000,19.900000,100.000000,645.000000,5.000000,5.000000,5.000000

In [19]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='mean')
df['non_dreaming']=imp.fit_transform(pd.DataFrame(df['non_dreaming']))
df['dreaming']=imp.fit_transform(pd.DataFrame(df['dreaming']))
df['total_sleep']=imp.fit_transform(pd.DataFrame(df['total_sleep']))
df['life_span']=imp.fit_transform(pd.DataFrame(df['life_span']))
df['gestation']=imp.fit_transform(pd.DataFrame(df['gestation']))

In [20]:
df.isnull().sum()

species         0
body_wt         0
brain_wt        0
non_dreaming    0
dreaming        0
total_sleep     0
life_span       0
gestation       0
predation       0
exposure        0
danger          0
dtype: int64

In [21]:
#model building
config={'algorithm':'CART'}
model=chef.fit(df,config=config,target_label='danger')

[INFO]:  2 CPU cores will be allocated in parallel running
WARNING: You set the algorithm to  CART  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  4.696636199951172  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  0.0
MSE:  0.0
RMSE:  0.0
RAE:  0.0
RRSE:  0.0
Mean:  2.6129032258064515
MAE / Mean:  0.0 %
RMSE / Mean:  0.0 %

In [28]:
#prediction
pred=chef.predict(model,param=['Asianelephant',2547.000,4603.0,2.1,1.9,4.9,72.0,626.3,3,5])
pred

4

In [33]:
pr2=chef.predict(model,param=['Vervet',4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3])
pr2

4