In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
df=pd.read_csv('datasets/groceries.csv',on_bad_lines='skip')
transactions=[]
df

,item1,item2,item3,item4
0,citrus fruit,semi-finished bread,margarine,ready soups
1,tropical fruit,yogurt,coffee,NaN
2,whole milk,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads
4,other vegetables,whole milk,condensed milk,long life bakery product
...,...,...,...,...
6101,yogurt,long life bakery product,NaN,NaN
6102,pork,frozen vegetables,pastry,NaN
6103,ice cream,long life bakery product,specialty chocolate,specialty bar
6104,cooking chocolate,NaN,NaN,NaN
6105,semi-finished bread,bottled water,soda,bottled beer

In [17]:
df.shape

(6106, 4)

In [26]:
for i in range(0, 6106 ):
  transactions.append([str(df.values[i,j]) for j in range(0, 4 )])

In [27]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.002, min_confidence = 0.1, min_lift = 2, min_length = 2, max_length = 2)

In [32]:
def inspect(results):
    lhs         = [tuple(result[2][0][0])[0] for result in results]
    rhs         = [tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(lhs, rhs, supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Product 1', 'Product 2', 'support'])

In [33]:
resultsinDF.nlargest(n=10,columns='support')

TypeError: Column 'support' has dtype object, cannot use method 'nlargest' with this dtype