# AdaBoost Classifier

In [39]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn import metrics

# Iris

In [40]:
df=pd.read_csv('datasets/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [41]:
# encoding categorical data into numerical data
le_y=LabelEncoder()
df['Species'] = le_y.fit_transform(df['Species'])

In [42]:
# splitting dependent and independent variables
X = df.iloc[:, 0:5]
y = df.iloc[:, 5]

# splitting data into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state=42)

In [43]:
#creating a adaboost classifier object
abc = AdaBoostClassifier(n_estimators=50,
                         learning_rate=1)
model = abc.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [44]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

# Diabetes

In [45]:
df1=pd.read_csv('datasets/diabetes.csv')
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [48]:
X1=df1.iloc[:, 0:8]
y1=df1.iloc[:,-1]

# splitting data into training and testing
X1_train, X1_test, y1_train, y1_test =train_test_split(X1, y1, test_size= 0.3, random_state=42)

In [49]:
#creating an adaboost classifier object
adb=AdaBoostClassifier(n_estimators=50,learning_rate=1)
adb.fit(X1_train,y1_train)
yp=adb.predict(X1_test)

In [50]:
# Model Accuracy
print("Accuracy:",metrics.accuracy_score(y1_test, yp))

Accuracy: 0.7445887445887446